*{
    margin: 0;
    padding: 0;
}



.header{
	font-family:微软雅黑;
    position: relative;
    height: 55px;
}

.index{
    min-height:100%;
    position: relative;
}



body{
	padding:0;
	margin:0;
	font-size: 12px;
	color: #434343;
  min-width: 1160px;
}


/*导航*/
#hdContainer{
	position: fixed;
	z-index: 10;
	width: 960px;
    left: 14%;
	height: 55px;
	background-color: white;

}

#hdContainer .hd-logo{
	border: none;
	box-shadow: none;
	transition: all 0.384s ease-in;
    height: 55px;
    position: absolute;
    margin:0 auto auto 0;
}
#hdContainer .hd-logo #logo{
    position: absolute;
    padding-top: 20px;
}

/*menu*/
#hdContainer .navigation{
    width: 500px;
    margin: 0 auto auto 24%;
    position: absolute;
    z-index: 10;
    height: 55px;
}

.nav-menu li {
    float: left;
    margin:auto 4% auto 3%;
    font-size: 16px;
}

#hdContainer .nav-menu{
    width: 500px;
    height: 40px;
    position: absolute;
    /*top: 10px;*/
}
#hdContainer .navigation .nav-menu a {
    color: #474747;
    display: block;
    padding: 0 3px;
    transition: all 0.384s ease-in;
    height: 40px;
    line-height: 40px;
    float: left;
    text-decoration: none;
}

#hdContainer .nav-list {
    position: absolute;
    height: 55px;
    width: 190px;
    margin: 0 auto auto 80%;

}

#hdContainer .nav-list .li-left {
    /*position: absolute;*/
    float: left;
    width: auto;
    height: 55px;
    line-height: 65px;
    margin: 0 0 0 15px;
}

#hdContainer .nav-list .reg-div {
    position: relative;
    margin: 0 auto auto 20px;
}
#hdContainer .nav-list .out-div {
    position: relative;
    margin: 0 auto auto 20px;
}

.nav-menu li a:hover{
    color: #A06448;
    border-bottom: 3px solid #A06448;
}

.nav-list .li-left a:hover{
    color: blue;
}


/*轮播*/

#bd{
	min-width: 960px;
	position: relative;
	overflow: hidden;
    background: white;
}

#imgLogo{
	position: relative;
    margin: 0 auto auto 14%;
    width: 960px;
	height: 500px;

}

div{
	display: block;
}

.fast-doc-con {
    width: 960px;
    margin: -50px auto 60px auto;
    background: white;
    height: 300px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;

}

ul,li{
	list-style: none;
	padding: 0;
}
ul{
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li{
	display: list-item;
	text-align: -webkit-match-parent;
}

three-layout{
	width: 50%;
}

.fast-doc-con li{
	float: left;
	width: 50%;
	height: 150px;
	padding-top: 20px;
}

.three-layout li div.cell-block {
    display: block;
    height: 60px;
    border-radius: 4px;
    border: 1px solid transparent;
    pa2dding: 30px 0;
    transition: all 0.384s;
    cursor: pointer;
}

.cell-intro {
    margin-left: 90px;
    margin-top: 30px;
    position: relative;
}

.cell-intro .title{
	font-size: 20px;
	color: #333333;
}

.cell-intro .desc{
	margin-top: 13px;
	font-size: 14px;
	line-height: 16px;
	color: rgba(51,51,51,.7);
}

.cell-block .title a{
	padding: 2px 24px 20px 0;
	transition: all 0.385s ease-in;
}

a{
	text-decoration: none;
	color: #333;
	cursor:pointer;
}


.cell-icon i {
	font-size: 40px;
	color: #A06448;
	position: absolute;
	margin-top: 35px;
}



.logo {
	margin-left: 20px;
	width: 60px;
	height: 60px;
	float: left;
}


#container {
    position: relative;
    /*top: 55px;*/
    background: #efefef;
    margin: 0;
    padding: 0;
    color: #1891EC;
    height: 106px;
}

#container .inner-title{
    display: block;
    font-size: 35px;
    color: black;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    position: absolute;
    margin: 26px  0 auto 200px;
   	font-family: inherit;
}


#ft {
    background-color: white;
    width: 100%;
    line-height: 24px;
    padding: 29px 0;
    /*align-self: center;*/
    text-align: center;
    color: #bcbcbc;
    margin-top: 20px;
    position: relative;
    bottom: 0;
 }

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.banner-top {
    background-color: #0089fb;
    height: 200px;
    font-family: "Microsoft YaHei";
    position: relative;
    /*top: 55px;*/
}

.banner-top-content {
    width: 450px;
    margin: 0px auto;
    overflow: hidden;
    zoom: 1;
}

.banner-top-title {
    margin-top: 34px;
    color: #fff;
    font-size: 42px;
    text-align: center;
    margin-bottom: 18px;
}

.banner-top-detail {
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}
