*{
    margin: 0;
    padding: 0;
}



.header{
	font-family:微软雅黑;
    position: relative;
    height: 55px;
}

.index{
    min-height:100%;
    position: relative;
}



body{
	padding:0;
	margin:0;
	font-size: 12px;
	color: #434343;
  min-width: 1160px;
}


/*导航*/
#hdContainer{
	position: fixed;
	z-index: 10;
	width: 960px;
    left: 14%;
	height: 55px;
	background-color: white;

}

#hdContainer .hd-logo{
	border: none;
	box-shadow: none;
	transition: all 0.384s ease-in;
    height: 55px;
    position: absolute;
    margin:0 auto auto 0;
}
#hdContainer .hd-logo #logo{
    position: absolute;
    padding-top: 20px;
}

/*menu*/
#hdContainer .navigation{
    width: 500px;
    margin: 0 auto auto 24%;
    position: absolute;
    z-index: 10;
    height: 55px;
}

.nav-menu li {
    float: left;
    margin:auto 4% auto 3%;
    font-size: 16px;
}

#hdContainer .nav-menu{
    width: 500px;
    height: 40px;
    position: absolute;
    /*top: 10px;*/
}
#hdContainer .navigation .nav-menu a {
    color: #474747;
    display: block;
    padding: 0 3px;
    transition: all 0.384s ease-in;
    height: 40px;
    line-height: 40px;
    float: left;
    text-decoration: none;
}


/*轮播*/

#bd{
	min-width: 960px;
	position: relative;
	overflow: hidden;
    background: white;
}




ul,li{
	list-style: none;
	padding: 0;
}
ul{
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li{
	display: list-item;
	text-align: -webkit-match-parent;
}

#ft {
    background-color: white;
    width: 100%;
    line-height: 24px;
    padding: 29px 0;
    /*align-self: center;*/
    text-align: center;
    color: #bcbcbc;
    margin-top: 20px;
    position: relative;
    bottom: 0;
 }
